<section id="member-ship" class="member-ship">
  <h2 class="member-ship__title visually-hidden">Оформить подписку</h2>
  <fieldset class="member-ship__fieldset">
    <legend class="member-ship__legend">
      Подпишитесь на нашу рассылку прямо сейчас, всего за <strong>9.99$/мес</strong>, и будьте в
      курсе всех новостей, скидок на подписки и понижении цен на фильмы.
    </legend>
    <div class="member-ship__wrapper">
      <label for="email" class="visually-hidden member-ship__label">Ваш email</label>
      <input
        id="email"
        class="member-ship__email"
        type="email"
        name="email"
        placeholder="Ваш email"
      />
      <button class="member-ship__submit" type="submit">Подписаться</button>
    </div>
    <p class="member-ship__policy">
      Нажимая на кнопку “Подписаться”, вы принимаете правила
      <a class="member-ship__link" href="#">пользовательского соглашения</a>
    </p>
  </fieldset>
</section>
