@use '../../../styles/variables';
@use '../../../assets/scss/functions' as *;

.news {
  position: relative;
  background-color: variables.$link-bg-color;
  border-radius: rem(20);
  padding: rem(20);
  margin: 0 0 rem(210);

  &__content {
    display: flex;
    gap: rem(113);
    max-width: rem(1904);
    width: 100%;
    margin: 0 auto rem(40);
    padding-left: rem(123);
  }

  &__title--main {
    font-size: rem(50);
    font-weight: 700;
    line-height: 100%;
    margin: 0 0 rem(50);
    text-align: center;
  }

  &__title--middle {
    max-width: rem(534);
    position: absolute;
    left: rem(30);
    bottom: rem(50);
    margin: 0;
  }

  &__link {
    display: block;
    width: fit-content;
    margin-left: auto;
  }

  &__link-wrapper {
    max-width: rem(1904);
    width: 100%;
    margin: 0 auto;
  }

  &__image-wrapper {
    position: relative;
    max-width: rem(704);
    width: 100%;
    height: rem(470);
    border-radius: rem(20);
    align-self: center;
    box-shadow: 0 0 rem(30) rem(5) rgb(0 0 0 / 60%);

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: rem(704);
      height: rem(470);
      top: 0;
      left: 0;
      background-color: rgb(0 0 0 / 40%);
      border-radius: rem(20);
    }
  }

  &__main-image {
    display: block;
    border-radius: rem(20);
    width: rem(704);
    height: auto;
    object-fit: cover;
  }

  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__card {
    display: flex;
    gap: rem(16);

    h3 {
      margin: 0 0 rem(15);
    }

    p {
      margin: 0;
    }

    &--column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &--image {
      border-radius: rem(15);
      box-shadow: 0 0 rem(30) rem(5) rgb(0 0 0 / 60%);
      max-width: rem(147);
      width: 100%;
      height: rem(147);
    }

    &--link {
      margin-left: auto;
      display: block;
      color: variables.$bg-main-color;
      text-decoration: none;
      width: fit-content;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: variables.$bg-main-color;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
