@use '../../../styles/variables';
@use '../../../assets/scss/functions' as *;

.popfilm {
  margin: 0 0 rem(210);

  &__content {
    max-width: rem(1904);
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-size: rem(50);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 rem(46);
  }

  &__card {
    max-width:rem(1172);
    width: 100%;
    margin: 0 auto;
    padding: rem(30) rem(98);
    border-radius: rem(20);
    box-shadow: 0 0 rem(30) 0 rgb(146 146 146 / 20%);
    background: variables.$bg-main-color;
  }

  &__image {
    display: block;
    border-radius: rem(33);
    margin: 0 0 rem(25);
    max-width: rem(976);
    width: 100%;
    height: rem(460);
    object-fit: cover;
  }

  &__link {
    display: block;
    margin: 0 auto;
    padding: rem(15) 0;
    max-width: rem(924.67);
    border-radius: rem(5);
    box-shadow: 0 rem(4) rem(4) 0 rgb(variables.$color-black, 0.25);
    text-align: center;
    text-decoration: none;
    color: variables.$bg-main-color;
    font-size: rem(25);
    font-weight: 700;
    line-height: rem(30);
    background-color: variables.$link-bg-color;
    transition: background-color 0.3s ease,
    transform 0.3s ease;

    &:hover {
      background-color: variables.$link-bg-color-hover;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
