// ===== COLOR =====

$text-main-color: rgb(255 255 255 / 100%);
$color-black: rgb(0 0 0);

/* Фон */

$bg-main-color: rgb(44 44 84 / 100%);

/* Компоненты */

$input-bg-color: rgb(243 243 243 / 100%);
$link-bg-color: rgb(104 109 224 / 100%);
$link-dark-color: rgb(44 44 84 / 100%);
$link-light-color: rgb(104 109 224 / 100%);

// ===== TYPOGRAPHY =====

$font-family-primary: 'Gilroy', sans-serif;
