<section class="forum">
  <div class="forum__content">
    <h2 class="forum__title">Форум</h2>
    <ul class="forum__list" role="list">
      <li class="forum__item">
        <article class="forum__card forum__card--big">
          <img
            class="forum__image"
            src="./assets/images/forum-photo-1.jpg"
            alt="Логотип киностудии 'Bubble'"
            width="366"
            height="308"
          />
          <div class="forum__card-wrapper">
            <h3 class="forum__title-card">КиноВселенная “Майора Грома”</h3>
            <p class="forum__text">
              В данном треде, Вы сможете узнать намного больше про киновселенную от Bubble про
              великого майора полиции - Игоря Грома
            </p>
            <a class="forum__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>

      <li class="forum__item">
        <article class="forum__card forum__card--little">
          <h3 class="forum__title-card">Каким будет новый фильм от марвел?</h3>
          <p class="forum__text">
            Скоро на экраны выходит новый фильм от Sony Marvel, хотелось бы порассуждать, а каким он
            будет? Если у вас есть какие-либо заметки, милости прошу к нашему шалашу...
          </p>
          <a class="forum__link" href="#">Подробнее</a>
        </article>
      </li>
      <li class="forum__item">
        <article class="forum__card forum__card--little">
          <h3 class="forum__title-card">Каким будет новый фильм от марвел?</h3>
          <p class="forum__text">
            Скоро на экраны выходит новый фильм от Sony Marvel, хотелось бы порассуждать, а каким он
            будет? Если у вас есть какие-либо заметки, милости прошу к нашему шалашу...
          </p>
          <a class="forum__link" href="#">Подробнее</a>
        </article>
      </li>
      <li class="forum__item">
        <article class="forum__card forum__card--big">
          <img
            class="forum__image"
            src="./assets/images/forum-photo-1.jpg"
            alt="Логотип киностудии 'Bubble'"
            width="366"
            height="308"
          />

          <div class="forum__card-wrapper">
            <h3 class="forum__title-card">КиноВселенная “Майора Грома”</h3>
            <p class="forum__text">
              В данном треде, Вы сможете узнать намного больше про киновселенную от Bubble про
              великого майора полиции - Игоря Грома
            </p>
            <a class="forum__link" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
