@use '../../../styles/variables';
@use '../../../assets/scss/functions' as *;

.forum {
  background-color: variables.$link-bg-color;
  border-radius: rem(20);
  margin: 0 0 rem(60);

  &__title {
    font-size: rem(50);
    line-height: 100%;
    font-weight: 700;
    margin: 0 0 rem(50);
  }

  h3 {
    font-size: rem(25);
    font-weight: 700;
    line-height: rem(30);
    letter-spacing: 0;
  }

  p {
    font-size: rem(20);
    font-weight: 500;
    line-height: rem(24);
    letter-spacing: 0;
  }

  &__content {
    max-width: rem(1680);
    width: 100%;
    margin: 0 auto;
    padding-top: rem(20);
    padding-bottom: rem(50);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(50);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__card-big {
    max-width: rem(930);
    width: 100%;
  }

  &__card--little {
    flex-direction: column;
    max-width: rem(680);
    width: 100%;
    height: 100%;
    padding: rem(31) rem(32.63) rem(33);

    h3 {
      margin: 0 0 rem(23);
    }

    p {
      margin: 0 0 rem(61.04);
    }
  }

  &__card {
    display: flex;
    background-color: variables.$bg-main-color;
    border-radius: rem(20);
  }

  &__card-wrapper {
    max-width: rem(564);
    width: 100%;
    padding: rem(31) rem(32.63) rem(33);

    h3 {
      margin: 0 0 rem(15);
    }

    p {
      margin: 0 0 rem(97);
    }
  }

  &__image {
    display: block;
    width: rem(366);
    height: auto;
    object-fit: cover;
    border-bottom-left-radius: rem(20);
    border-top-left-radius: rem(20);
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: variables.$link-bg-color;
    font-size: rem(20);
    font-weight: 500;
    line-height: rem(18);
    letter-spacing: 0;
    margin-top: auto;
    transition: color 0.3s ease;

    &::after {
      content: '';
      display: block;
      width: rem(25);
      height: rem(15);
      background-image: url('../../../assets/images/Arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: translateX(rem(5));
    }

    &:hover {
      color: variables.$link-bg-color-hover;
    }
  }
}
