@use '../../../styles/variables';

.forum {
  background-color: variables.$link-bg-color;
  border-radius: 20px;

  &__content {
    max-width: 1904px;
  }

  &__list {
    display: flex;
    align-items: stretch;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__card-big {
    max-width: 930px;
  }

  &__card--little {
    flex-direction: column;
    max-width: 680px;
  }

  &__card {
    display: flex;
    background-color: variables.$bg-main-color;
    border-radius: 20px;
  }

  &__image-wrapper {
   max-width: 366px;
  }

  &__card-wrapper {
    max-width: 564px;
    padding: 31px 32.63px 33px;

    h3 {
      margin: 0 0 15px;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0;
    }

    p {
      margin: 0 0 104px;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  &__link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
  }

  }

