<header appScroll class="main-header">
  <div class="main-header__content container">
    <img class="main-header__logo" src="./assets/images/logo.svg" alt="Multi Cinema - онлайн кинотеатр"
         width="250" height="120">
    <nav class="main-header__nav">
      <ul class="main-header__list" role="list">
        <li class="main-header__item"><a class="main-header__link" href="#">Фильмы</a></li>
        <li class="main-header__item"><a class="main-header__link" href="#">Треды</a></li>
        <li class="main-header__item"><a class="main-header__link" href="#">Новости</a></li>
      </ul>
    </nav>
    <div class="main-header__actions">
      <button class="main-header__action main-header__action--search" aria-label="Поиск">
        <img class="main-header__icon" src="./assets/images/search.svg" alt="" width="32" height="32">
      </button>
      <a class="main-header__action main-header__action--login" href="#" aria-label="Вход">
        <img class="main-header__icon" src="./assets/images/login.svg" alt="" width="32" height="32">
      </a>
    </div>
  </div>
</header>
