@use '../../../styles/variables';

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.5s ease;
  border-radius: 0 0 20px 20px;

  &__link {
    text-decoration: none;
    color: variables.$text-main-color;
    line-height: 100%;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      inset: 0;
      background-color: variables.$link-bg-color;
      transition: width 0.4s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__content {
    width: 1690px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    transition: padding 0.5s ease;
  }

  &__logo {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    cursor: pointer;
  }

  &.scroll {
/*    position: fixed;
    top: 0;
    left: 0;
    right: 0;*/
    box-shadow: 0 0 30px rgb(variables.$color-black, 0.5);
    background-color: variables.$link-bg-color;

    .main-header__content {
      padding: 10px 15px;
    }

    .main-header__logo {
      width: 125px;
      height: 60px;
    }

    .main-header__link::after {
      background-color: variables.$link-dark-color;
    }

  }

  &__list {
    list-style: none;
    display: flex;
    gap: 118px;
    margin: 0;
    padding: 0;
  }

  &__actions {
    display: flex;
    gap: 37px;
  }

  &__action--search {
    border: none;
    background: none;
    width: 35px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__action--login {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

