@use './styles/variables';
@use './styles/fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family-primary;
  color: variables.$text-main-color;
  background-color: variables.$bg-main-color;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
  margin: 0;
}

.decorate {
  position: relative;
  width: 1904px;
  margin: 0 auto;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -220px;
    right: 0;
    width: 827px;
    height: 1573px;
    background-image: url('assets/images/decorate-right.png');
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 662px;
    left: 0;
    width: 511px;
    height: 1472px;
    background-image: url('assets/images/decorate-left.png');
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.container {
  width: 1904px;
  margin: 0 auto;
}

.content {
  width: 1904px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.link-end-section {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  line-height: 100%;
  width: fit-content;
  color: variables.$text-main-color;
  display: block;
  margin-left: auto;

  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: variables.$text-main-color;
    width: 0;
    height: 1px;
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
