@use './styles/variables';
@use './styles/fonts';

body {
  font-family: variables.$font-family-primary;
  color: variables.$text-main-color;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
}
