@use '../../../styles/variables';
@use '../../../assets/scss/functions' as *;

.hero {
  margin: rem(210) rem(123);

  &__container {
    max-width: rem(1904);
    width: 100%;
    margin: 0 auto;
    padding-left: rem(123);
  }

  &__title {
    max-width: rem(1150);
    color: variables.$text-main-color;
    font-size: rem(80);
    font-weight: 700;
    text-align: left;
    line-height: 100%;
    margin: 0 0 rem(51);
  }

  &__text {
    margin: 0 0 rem(45);
    max-width: rem(658);
  }

  &__link {
    display: block;
    width: rem(529);
    text-decoration: none;
    border-radius: rem(5);
    box-shadow: 0 rem(4) rem(4) 0 rgb(variables.$color-black, 0.25);
    background-color: variables.$link-bg-color;
    padding: rem(22) rem(56);
    font-size: rem(30);
    font-weight: 700;
    line-height: rem(36);
    color: variables.$bg-main-color;
    text-align: center;
    transition: background-color 0.3s ease,
    transform 0.3s ease;

    &:hover {
      background-color: variables.$link-bg-color-hover;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
