@use '../../../styles/variables';

.hero {
  margin: 210px 0  210px 123px;

  &__title {
    width: 1150px;
    color: variables.$text-main-color;
    font-size: 80px;
    font-weight: 700;
    text-align: left;
    line-height: 100%;
    margin: 0 0 51px;
  }

  &__text {
    margin: 0 0 45px;
    width: 658px;
  }

  &__link {
    display: block;
    width: 529px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(variables.$color-black, 0.25);
    background-color: variables.$link-bg-color;
    padding: 22px 56px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: variables.$bg-main-color;
    text-align: center;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      background-color: variables.$link-bg-color-hover;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
