<section class="watch-later">
  <div class="watch-later__content">
    <h2 class="watch-later__title">Вы хотели посмотреть</h2>
    <ul class="watch-later__list">
      <li class="watch-later__item">
        <article class="watch-later__card">
          <img
            class="watch-later__image"
            src="./assets/images/watchlater-photo-1.jpg"
            width="350"
            height="495"
            alt=""
          />
          <a class="watch-later__link" href="#">Посмотреть</a>
        </article>
      </li>
      <li class="watch-later__item">
        <article class="watch-later__card">
          <img
            class="watch-later__image"
            src="./assets/images/watchlater-photo-1.jpg"
            width="350"
            height="495"
            alt=""
          />
          <a class="watch-later__link" href="#">Посмотреть</a>
        </article>
      </li>
      <li class="watch-later__item">
        <article class="watch-later__card">
          <img
            class="watch-later__image"
            src="./assets/images/watchlater-photo-1.jpg"
            width="350"
            height="495"
            alt=""
          />
          <a class="watch-later__link" href="#">Посмотреть</a>
        </article>
      </li>
    </ul>
    <a class="watch-later__link-more link-end-section" href="#">Полный список</a>
  </div>
</section>
